<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="navbar">
    <div class="main-header">
        <div class="main-header-logo">
            <div class="logo-header" data-background-color="dark">
                <a th:href="@{/admin}" class="logo"> </a>
            </div>
        </div>
        <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
            <div class="container-fluid">
                <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                    <li class="nav-item topbar-icon dropdown hidden-caret submenu">
                        <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="notification">4</span>
                        </a>
                        <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                            <li>
                                <div class="dropdown-title">
                                    Bạn có 4 thông báo mới
                                </div>
                            </li>
                            <li>
                                <div class="scroll-wrapper notif-scroll scrollbar-outer"
                                     style="position: relative;">
                                    <div class="notif-scroll scrollbar-outer scroll-content"
                                         style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 244px;">
                                        <div class="notif-center">
                                            <a href="#">
                                                <div class="notif-icon notif-primary">
                                                    <i class="fa fa-user-plus"></i>
                                                </div>
                                                <div class="notif-content">
                                                    <span class="block"> New user registered </span>
                                                    <span class="time">5 minutes ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-icon notif-success">
                                                    <i class="fa fa-comment"></i>
                                                </div>
                                                <div class="notif-content">
                                                        <span class="block">
                                                            Rahmad commented on Admin
                                                        </span>
                                                    <span class="time">12 minutes ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-icon notif-danger">
                                                    <i class="fa fa-heart"></i>
                                                </div>
                                                <div class="notif-content">
                                                    <span class="block"> Farrah liked Admin </span>
                                                    <span class="time">17 minutes ago</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="scroll-element scroll-x">
                                        <div class="scroll-element_outer">
                                            <div class="scroll-element_size"></div>
                                            <div class="scroll-element_track"></div>
                                            <div class="scroll-bar" style="width: 0px;"></div>
                                        </div>
                                    </div>
                                    <div class="scroll-element scroll-y">
                                        <div class="scroll-element_outer">
                                            <div class="scroll-element_size"></div>
                                            <div class="scroll-element_track"></div>
                                            <div class="scroll-bar" style="height: 0px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="see-all" href="javascript:void(0);">Xem tất cả thông báo<i
                                        class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item topbar-user dropdown hidden-caret">
                        <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                           aria-expanded="false">
                            <div class="avatar-sm">
                                <img th:src="${currentUser.avatarUrl}" alt="..." class="avatar-img rounded-circle">
                            </div>
                            <span class="profile-username">
                                    <span class="op-7">Hi,</span>
                                    <span th:text="${currentUser.fullName}" class="fw-bold">Hizrian</span>
                                </span>
                        </a>
                        <ul class="dropdown-menu dropdown-user animated fadeIn">
                            <div class="scroll-wrapper dropdown-user-scroll scrollbar-outer"
                                 style="position: relative;">
                                <div class="dropdown-user-scroll scrollbar-outer scroll-content"
                                     style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 0px;">
                                    <li>
                                        <div class="user-box">
                                            <div class="avatar-lg">
                                                <img th:src="${currentUser.avatarUrl}" alt="image profile"
                                                     class="avatar-img rounded">
                                            </div>
                                            <div class="u-text">
                                                <h4 th:text="${currentUser.fullName}">Hizrian</h4>
                                                <p th:text="${currentUser.email}" class="text-muted">hello@example.com</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                        <a th:href="@{/}" class="dropdown-item" href="#">Trang chủ</a>
                                        <a th:href="@{/}" class="dropdown-item" href="#">Xem trang cá nhân</a>
                                        <form th:action="@{/dang-xuat}" method="post" id="logoutForm" class="hidden">
                                        </form>
                                        <a href="javascript:void(0)"
                                           onclick="document.getElementById('logoutForm').submit();"
                                           class="dropdown-item">Đăng xuất</a>
                                    </li>
                                </div>
                                <div class="scroll-element scroll-x">
                                    <div class="scroll-element_outer">
                                        <div class="scroll-element_size"></div>
                                        <div class="scroll-element_track"></div>
                                        <div class="scroll-bar"></div>
                                    </div>
                                </div>
                                <div class="scroll-element scroll-y">
                                    <div class="scroll-element_outer">
                                        <div class="scroll-element_size"></div>
                                        <div class="scroll-element_track"></div>
                                        <div class="scroll-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>

</html>